################
# Python files #
################
*.pyc
*.ipynb
.ipynb_checkpoints

#######################
# Documentation files #
#######################
docs/build/*
docs/auto-Example-*.py

###############
# Build files #
###############
build/*
FinQuant.egg-info/*

##################
# Text artifacts #
##################
*~
*.swp

##############
# bkup files #
##############
**/bkup-files

###############
# latex files #
###############
*.log
*.aux
*.out
*.pdf
