[MASTER]
# Ignore certain files or directories during analysis
ignore-paths=tests/,docs/,example/
extension-pkg-whitelist=pydantic

[REPORTS]
# Set the output format for `pylint` messages (text, colorized, json, etc.)
output-format=text

[MESSAGES CONTROL]
# Specify the maximum allowed line length
max-line-length=120

# Disable some pylint messages that may be too strict or not relevant for your project
disable=
    C0114,  # Missing module docstring
    C0116,  # Missing function docstring
    R0902,  # Too many instance attributes
    R0903,  # Too few public methods
    R0913,  # Too many arguments
    R0914,  # Too many local variables
    R1705,  # Unnecessary "else" after "return"
    W1514,  # Unspecified encoding,

# Include additional pylint messages or message categories
#enable=
#    C0114,  # Missing module, function, class docstring
#    R0903,  # Too few public methods

[FORMAT]
good-names = pf, df, ef, mc, mu
