[MASTER]
[REPORTS]
# Set the output format for `pylint` messages (text, colorized, json, etc.)
output-format=text

[MESSAGES CONTROL]
# Ignore certain files or directories during analysis
ignore-patterns=tests/, docs/

# Specify the maximum allowed line length
max-line-length=120

# Disable some pylint messages that may be too strict or not relevant for your project
disable=
    C0103,  # Naming convention violation
    C0114,  # Missing module docstring
    C0116,  # Missing function docstring
    R0903,  # Too few public methods
    R0913,  # Too many arguments
    R0914,  # Too many local variables
    W1514,  # Using open without explicitly specifying an encoding

# Include additional pylint messages or message categories
#enable=
#    C0114,  # Missing module, function, class docstring
#    R0903,  # Too few public methods
