language: python
branches:
  only:
  - master
  - develop
matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7.0
      dist: xenial
      sudo: true
cache: pip
install:
  - pip install -r requirements.txt
  - python setup.py install
script:
  - make test
